/* main color #584336
secondary color #B65E24 ;
}*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL STYLES */
html{
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  color: #584336;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header, section {
  margin-bottom: 48px;
}

h2 {
  font-size: 36px;
  letter-spacing: -0.5px;
  margin-bottom: 48px;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}

.btn:link, .btn:visited{
  color: #ffffff;
  background-color: #B65E24;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 500;
  border-radius: 10px;
}

.btn:hover, .btn:active {
  background-color: #df7129;
}

.btn-big{
  padding: 16px 32px;
}

.btn-small{
  font-size:14px;
  padding: 8px 12px;
}
/* COMPONENT STYLES */

/* HEADER */
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 48px;
  background-image: linear-gradient(to right, white, rgba(255, 255, 255, 0.781), transparent), url(img/main-1.jpeg);
  background-position: 35% 6%;
  padding: 10px 20px;
  border-radius: 5px;
}

.header-text-box {
  align-self: center;
}

h1 {
  font-size: 44px;
  line-height: 1.1;
  letter-spacing: -1px;
  margin-bottom: 24px;
}

.header-text {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 24px;
}

img {
  margin: auto;
  width: 100%;
  border-radius: 5px;
}

/* FEATURES */

.features-title {
  font-size: 20px;
  margin-bottom: 16px;
}

.features-text {
  font-size: 18px;
  line-height: 1.5;
  padding-bottom: 16px;
  border-bottom: 3px solid #58433667;
}

/* TESTIMONIAL */
.testimonial-section {
  padding: 12px 20px;
  background-color:#f3e6dd54;
  border-radius: 10px;
}

.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}

.testimonial-box h2 {
  font-size: 24px;
  margin-bottom: 24px;
}

.testimonial-text {
  font-style: italic;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 24px;
}

/* Products */
.product{
  border-radius: 10px;
  padding: 5px;
  box-shadow: 5px 5px 5px #5843363b;
}
.product-box {
  padding: 24px;
}

h3 {
  font-size: 20px;
  margin-bottom: 24px;
}

.product-details {
  list-style: none;
  margin-bottom: 24px;
}

.product-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.product-details li:last-child {
  margin-bottom: 0;
}

.product-price {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
}
